/* Tooltips */
.tooltip {
    -fx-background-radius: 0;
    -fx-padding: 4px;
}

#bottom-pane {
    -fx-border-color: #C4C4C4;
    -fx-border-width: 1px 0 0 0;
}

#tracks-list {
    -fx-background-insets: 0, 0 1 0 1;
}

#bottom-center-pane {
    -fx-border-color: #C4C4C4;
    -fx-border-width: 0 1px 0 1px;
}

.subtitle {
    -fx-text-fill: #A8A8A8;
    -fx-padding: 0 0 0 5px;
}